# DATA VISUALIZATION LAB-3 Agent Report using Pandas

Name: Gurvinder Kaur Matharu<br>
PRN: 20190802077<br>

---

In [ ]:
import pandas as pd

In [ ]:
data1 = pd.read_csv('AgentLogingReport.csv')
data2 = pd.read_csv('AgentPerformance.csv')

In [ ]:
data1.head()

   SL No               Agent       Date Login Time Logout Time  Duration
0      1  Shivananda Sonwane  30-Jul-22   15:35:29    17:39:39  02:04:10
1      2      Khushboo Priya  30-Jul-22   15:06:59    15:07:16  00:00:17
2      3       Nandani Gupta  30-Jul-22   15:04:24    17:31:07  02:26:42
3      4     Hrisikesh Neogi  30-Jul-22   14:34:29    15:19:35  00:45:06
4      5              Mukesh  30-Jul-22   14:03:15    15:11:52  01:08:36

In [ ]:
data1.shape

(1000, 6)

In [ ]:
data2.head()

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback
0,1,7/30/2022,Prerna Singh,11,0:00:38,0:04:20,4.11,9
1,2,7/30/2022,Nandani Gupta,11,0:01:15,0:28:25,3.14,7
2,3,7/30/2022,Ameya Jain,14,0:00:30,0:11:36,4.55,11
3,4,7/30/2022,Mahesh Sarade,14,0:01:04,0:15:46,4.71,7
4,5,7/30/2022,Swati,14,0:01:11,0:16:33,3.67,6

In [ ]:
data2.shape

(2160, 8)

In [ ]:
data2.columns =[column.replace(" ", "_") for column in data2.columns]

In [ ]:
data2['Date'].unique().shape

(30,)

1. Find out their average rating on weekly basis keep this in a mind that they take two days of leave

In [ ]:
data2.groupby('Agent_Name')['Average_Rating'].sum()/4

Agent_Name
Abhishek          0.0000
Aditya            0.0000
Aditya Shinde    13.5025
Aditya_iot       17.5900
Amersh            0.0000
                  ...
Uday Mishra       0.0000
Vasanth P         0.0000
Vivek             3.7550
Wasim            18.0000
Zeeshan          17.1525
Name: Average_Rating, Length: 70, dtype: float64

2. Total working days for each agent

In [ ]:
chats= data2[data2['Total_Chats']>0 ]
chats

,SL_No,Date,Agent_Name,Total_Chats,Average_Response_Time,Average_Resolution_Time,Average_Rating,Total_Feedback
0,1,7/30/2022,Prerna Singh,11,0:00:38,0:04:20,4.11,9
1,2,7/30/2022,Nandani Gupta,11,0:01:15,0:28:25,3.14,7
2,3,7/30/2022,Ameya Jain,14,0:00:30,0:11:36,4.55,11
3,4,7/30/2022,Mahesh Sarade,14,0:01:04,0:15:46,4.71,7
4,5,7/30/2022,Swati,14,0:01:11,0:16:33,3.67,6
...,...,...,...,...,...,...,...,...
2101,2102,7/1/2022,Jaydeep Dixit,25,0:01:15,0:26:27,4.77,13
2102,2103,7/1/2022,Shivananda Sonwane,23,0:01:24,0:30:14,4.86,14
2103,2104,7/1/2022,Khushboo Priya,24,0:01:46,0:29:28,4.61,18
2104,2105,7/1/2022,Hrisikesh Neogi,15,0:01:05,0:25:29,4.56,9
2105,2106,7/1/2022,Tarun,22,0:00:00,0:45:14,1.50,6

In [ ]:
chats.groupby('Agent_Name')['Total_Chats'].count()

Agent_Name
Aditya Shinde             12
Aditya_iot                17
Ameya Jain                15
Anirudh                    7
Ankitjha                   3
Anurag Tiwari              2
Aravind                   14
Ashad Nasim                2
Ayushi Mishra             24
Bharath                   19
Boktiar Ahmed Bappy       26
Chaitra K Hiremath         6
Deepranjan Gupta          21
Dibyanshu                  1
Harikrishnan Shaji        19
Hitesh Choudhary           1
Hrisikesh Neogi           21
Ishawant Kumar            24
Jawala Prakash            25
Jayant Kumar               8
Jaydeep Dixit             21
Khushboo Priya            26
Madhulika G               24
Mahak                      1
Mahesh Sarade             18
Maitry                    20
Maneesh                    3
Manjunatha A              25
Mithun S                  18
Mukesh                     2
Mukesh Rao                 3
Muskan Garg                5
Nandani Gupta             21
Nishtha Jain              23
Prabir Kumar Satapathy    17
Prateek _iot              17
Prerna Singh              22
Rishav Dash               21
Saikumarreddy N           13
Samprit                    1
Sandipan Saha              3
Sanjeev Kumar             23
Saurabh Shukla             4
Shiva Srivastava           7
Shivan K                  22
Shivan_S                   1
Shivananda Sonwane        28
Shubham Sharma            21
Sowmiya Sivakumar          9
Sudhanshu Kumar            2
Suraj S Bilgi              2
Swati                     17
Tarun                      1
Vivek                      5
Wasim                     16
Zeeshan                   16
Name: Total_Chats, dtype: int64

3. Total query that an agent has taken.

In [ ]:
data2.groupby('Agent_Name')['Total_Chats'].sum()

Agent_Name
Abhishek           0
Aditya             0
Aditya Shinde    277
Aditya_iot       231
Amersh             0
                ...
Uday Mishra        0
Vasanth P          0
Vivek             44
Wasim            433
Zeeshan          542
Name: Total_Chats, Length: 70, dtype: int64

4. total Feedback that you have received

In [ ]:
data2.groupby('Agent_Name')['Total_Feedback'].sum()

Agent_Name
Abhishek           0
Aditya             0
Aditya Shinde    153
Aditya_iot       131
Amersh             0
                ...
Uday Mishra        0
Vasanth P          0
Vivek             20
Wasim            284
Zeeshan          335
Name: Total_Feedback, Length: 70, dtype: int64

5. An agent name who have average rating between 3.5 to 4

In [ ]:
df = data2.loc[(data2['Average_Rating']>3.5) & (data2['Average_Rating']<=4), ['Agent_Name', 'Average_Rating']]
df

               Agent_Name  Average_Rating
4                  Swati             3.67
10           Manjunatha A            3.60
73    Boktiar Ahmed Bappy            4.00
76          Prateek _iot             3.75
78          Nandani Gupta            3.79
...                   ...             ...
1941       Jawala Prakash            3.80
2018        Sanjeev Kumar            4.00
2021        Aditya Shinde            3.54
2023     Deepranjan Gupta            3.71
2097        Sanjeev Kumar            4.00

[111 rows x 2 columns]

6. Agent name who have rating less than 3.5

In [ ]:
data2.loc[(data2['Average_Rating']<3.5), ['Agent_Name']]

              Agent_Name
1          Nandani Gupta
19      Hitesh Choudhary
20            Sanjeevan
21              Anirudh
22      Shiva Srivastava
...                  ...
2155   Sowmiya Sivakumar
2156             Nitin M
2157              Vivek
2158       Ayushi Mishra
2159  Chaitra K Hiremath

[1474 rows x 1 columns]

7. agent name who have rating more then 4.5

In [ ]:
data2.loc[(data2['Average_Rating']>=4.5), ['Agent_Name']]

              Agent_Name
2             Ameya Jain
3          Mahesh Sarade
5                Mukesh
6        Saikumarreddy N
7          Sanjeev Kumar
...                  ...
2100      Shubham Sharma
2101       Jaydeep Dixit
2102  Shivananda Sonwane
2103      Khushboo Priya
2104     Hrisikesh Neogi

[325 rows x 1 columns]

8. how many feedback agents have received more than 4.5 average

In [ ]:
data2.groupby('Agent_Name')['Total_Feedback'].sum()

Agent_Name
Abhishek           0
Aditya             0
Aditya Shinde    153
Aditya_iot       131
Amersh             0
                ...
Uday Mishra        0
Vasanth P          0
Vivek             20
Wasim            284
Zeeshan          335
Name: Total_Feedback, Length: 70, dtype: int64

9. average weekly response time for each agent

In [ ]:
data2.columns

Index(['SL_No', 'Date', 'Agent_Name', 'Total_Chats', 'Average_Response_Time',
       'Average_Resolution_Time', 'Average_Rating', 'Total_Feedback'],
      dtype='object')

In [ ]:
data2['Average_Response_Time'].dtype

dtype('O')

In [ ]:
data2['Average_Response_Time']=pd.to_datetime(data2['Average_Response_Time'])

In [ ]:
data2['AVT_hour'] = data2['Average_Response_Time'].dt.hour
data2['AVT_min'] = data2['Average_Response_Time'].dt.minute
data2['AVT_sec'] = data2['Average_Response_Time'].dt.second

In [ ]:
data2.head()

,SL_No,Date,Agent_Name,Total_Chats,Average_Response_Time,Average_Resolution_Time,Average_Rating,Total_Feedback,AVT_hour,AVT_min,AVT_sec
0,1,7/30/2022,Prerna Singh,11,2022-10-31 00:00:38,0:04:20,4.11,9,0,0,38
1,2,7/30/2022,Nandani Gupta,11,2022-10-31 00:01:15,0:28:25,3.14,7,0,1,15
2,3,7/30/2022,Ameya Jain,14,2022-10-31 00:00:30,0:11:36,4.55,11,0,0,30
3,4,7/30/2022,Mahesh Sarade,14,2022-10-31 00:01:04,0:15:46,4.71,7,0,1,4
4,5,7/30/2022,Swati,14,2022-10-31 00:01:11,0:16:33,3.67,6,0,1,11

In [ ]:
(data2.groupby('Agent_Name')['AVT_hour'].sum()*60*60)+(data2.groupby('Agent_Name')['AVT_min'].sum()*60) + (data2.groupby('Agent_Name')['AVT_sec'].sum())/4

Agent_Name
Abhishek            0.00
Aditya              0.00
Aditya Shinde     673.00
Aditya_iot        524.75
Amersh              0.00
                  ...
Uday Mishra         0.00
Vasanth P           0.00
Vivek             282.75
Wasim             492.75
Zeeshan          1453.00
Length: 70, dtype: float64

10. average weekly resolution time for each agent

In [ ]:
data2['Average_Resolution_Time'].dtype

dtype('O')

In [ ]:
data2['Average_Resolution_Time']=pd.to_datetime(data2['Average_Resolution_Time'])

In [ ]:
data2['ART_hour'] = data2['Average_Resolution_Time'].dt.hour
data2['ART_min'] = data2['Average_Resolution_Time'].dt.minute
data2['ART_sec'] = data2['Average_Resolution_Time'].dt.second

In [ ]:
data2.head()

,SL_No,Date,Agent_Name,Total_Chats,Average_Response_Time,Average_Resolution_Time,Average_Rating,Total_Feedback,AVT_hour,AVT_min,AVT_sec,ART_hour,ART_min,ART_sec
0,1,7/30/2022,Prerna Singh,11,2022-10-31 00:00:38,2022-10-31 00:04:20,4.11,9,0,0,38,0,4,20
1,2,7/30/2022,Nandani Gupta,11,2022-10-31 00:01:15,2022-10-31 00:28:25,3.14,7,0,1,15,0,28,25
2,3,7/30/2022,Ameya Jain,14,2022-10-31 00:00:30,2022-10-31 00:11:36,4.55,11,0,0,30,0,11,36
3,4,7/30/2022,Mahesh Sarade,14,2022-10-31 00:01:04,2022-10-31 00:15:46,4.71,7,0,1,4,0,15,46
4,5,7/30/2022,Swati,14,2022-10-31 00:01:11,2022-10-31 00:16:33,3.67,6,0,1,11,0,16,33

In [ ]:
(data2.groupby('Agent_Name')['ART_hour'].sum()*60*60)+(data2.groupby('Agent_Name')['ART_min'].sum()*60) + (data2.groupby('Agent_Name')['ART_sec'].sum())/4

Agent_Name
Abhishek             0.00
Aditya               0.00
Aditya Shinde    18379.75
Aditya_iot       17244.75
Amersh               0.00
                   ...
Uday Mishra          0.00
Vasanth P            0.00
Vivek             4475.75
Wasim            20286.50
Zeeshan          19058.00
Length: 70, dtype: float64

11. list of all agent’s name

In [ ]:
list = data2['Agent_Name'].unique()
print(list)

['Prerna Singh' 'Nandani Gupta' 'Ameya Jain' 'Mahesh Sarade' 'Swati '
 'Mukesh ' 'Saikumarreddy N' 'Sanjeev Kumar' 'Shubham Sharma'
 'Nishtha Jain' 'Manjunatha A' 'Khushboo Priya' 'Suraj S Bilgi'
 'Harikrishnan Shaji' 'Hrisikesh Neogi' 'Shivan K' 'Sowmiya Sivakumar'
 'Madhulika G' 'Mithun S' 'Hitesh Choudhary' 'Sanjeevan ' 'Anirudh '
 'Shiva Srivastava' 'Dibyanshu ' 'Ashish ' 'Uday Mishra' 'Aditya Shinde'
 'Jayant Kumar' 'Aditya_iot ' 'Prabir Kumar Satapathy' 'Saurabh Shukla'
 'Wasim ' 'Samprit ' 'Maitry ' 'Abhishek ' 'Rishav Dash' 'Aravind '
 'Tarun ' 'Muskan Garg' 'Ankit Sharma' 'Bharath ' 'Ashad Nasim'
 'Vasanth P' 'Aditya ' 'Amersh ' 'Sandipan Saha' 'Ineuron Intelligence '
 'Mahak ' 'Mukesh Rao ' 'Zeeshan ' 'Anurag Tiwari' 'Ankitjha ' 'Saif Khan'
 'Jaydeep Dixit' 'Sudhanshu Kumar' 'Maneesh ' 'Hyder Abbas' 'Rohan '
 'Vivek ' 'Nitin M' 'Shivan_S ' 'Spuri ' 'Ayushi Mishra'
 'Chaitra K Hiremath' 'Prateek _iot ' 'Boktiar Ahmed Bappy'
 'Shivananda Sonwane' 'Ishawant Kumar' 'Deepranjan Gupta' 'Jawala Prakash']

12. percentage of chat on which they have received feedback

In [ ]:
(data2.groupby('Agent_Name')['Total_Chats'].sum())

Agent_Name
Abhishek           0
Aditya             0
Aditya Shinde    277
Aditya_iot       231
Amersh             0
                ...
Uday Mishra        0
Vasanth P          0
Vivek             44
Wasim            433
Zeeshan          542
Name: Total_Chats, Length: 70, dtype: int64

In [ ]:
data2.groupby('Agent_Name')['Total_Feedback'].sum()

Agent_Name
Abhishek           0
Aditya             0
Aditya Shinde    153
Aditya_iot       131
Amersh             0
                ...
Uday Mishra        0
Vasanth P          0
Vivek             20
Wasim            284
Zeeshan          335
Name: Total_Feedback, Length: 70, dtype: int64

In [ ]:
feedback_received = (((data2.groupby('Agent_Name')['Total_Chats'].sum()) - (data2.groupby('Agent_Name')['Total_Chats'].sum()))/(data2.groupby('Agent_Name')['Total_Feedback'].sum()))*100

In [ ]:
feedback_received

Agent_Name
Abhishek         NaN
Aditya           NaN
Aditya Shinde    0.0
Aditya_iot       0.0
Amersh           NaN
                ...
Uday Mishra      NaN
Vasanth P        NaN
Vivek            0.0
Wasim            0.0
Zeeshan          0.0
Length: 70, dtype: float64

In [ ]:
feedback_received2=((data2.groupby('Agent_Name')['Total_Feedback'].sum())/(data2.groupby('Agent_Name')['Total_Chats'].sum()))*100

In [ ]:
feedback_received2

Agent_Name
Abhishek               NaN
Aditya                 NaN
Aditya Shinde    55.234657
Aditya_iot       56.709957
Amersh                 NaN
                   ...
Uday Mishra            NaN
Vasanth P              NaN
Vivek            45.454545
Wasim            65.588915
Zeeshan          61.808118
Length: 70, dtype: float64

13. Total contribution hour for each and every agent’s weekly basis

In [ ]:
data1['modified_Duration']=(pd.to_datetime(data1.Date) + pd.to_timedelta(data1.Duration))

In [ ]:
data1['Duration_hour'] = data1['modified_Duration'].dt.hour

In [ ]:
data1['Duration_minute'] =data1['modified_Duration'].dt.minute

In [ ]:
data1['Duration_second'] = data1['modified_Duration'].dt.second

In [ ]:
data1.head()

,SL No,Agent,Date,Login Time,Logout Time,Duration,modified_Duration,Duration_hour,Duration_minute,Duration_second
0,1,Shivananda Sonwane,30-Jul-22,15:35:29,17:39:39,02:04:10,2022-07-30 02:04:10,2,4,10
1,2,Khushboo Priya,30-Jul-22,15:06:59,15:07:16,00:00:17,2022-07-30 00:00:17,0,0,17
2,3,Nandani Gupta,30-Jul-22,15:04:24,17:31:07,02:26:42,2022-07-30 02:26:42,2,26,42
3,4,Hrisikesh Neogi,30-Jul-22,14:34:29,15:19:35,00:45:06,2022-07-30 00:45:06,0,45,6
4,5,Mukesh,30-Jul-22,14:03:15,15:11:52,01:08:36,2022-07-30 01:08:36,1,8,36